{{>header}}

<header>
    <div class="nav_div">
        <h1>CRUD APP</h1>
    </div>
</header>

<div class="man_div">
    <div class="container">
        <div class="add_btn">
            <a href="/addUser" class="btn btn-outline-warning">Add User</a>
        </div>
        <div class="user_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mail</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.gender}}</td>
                        <td>{{this.status}}</td>
                        <td colspan="2">
                            <a href="/updateUser?id={{this._id}}" class="btn btn-outline-success">Edit</a>
                            <button data={{this._id}} class="btn btn-outline-danger delete">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{>footer}}